<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to <span style="color: #66ff66">Little Birds</span></h1>
    <p>Learn about New Zealands beautiful native birds!</p>
  </div>
</div>
