<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to <span style="color: #66ff66">Little Birds</span></h1>
    <h4>Learn about New Zealands beautiful native birds!</h4>
  </div>
</div>
<div class="wrapper">
  <figure class="item">
    <a class="invisible" href="/profile/3">
      <img src="/images/Piwakawaka.jpg" class="image--cover">
      <figcaption class="caption">Piwakawaka</figcaption>
    </a>
  </figure>

  <figure class="item">
    <a class="invisible" href="/profile/2">
      <img src="/images/Tui.JPG" alt="" class="image--cover" />
      <figcaption class="caption">Tui</figcaption>
    </a>
  </figure>

  <figure class="item">
    <a class="invisible" href="/profile/1">
      <img src="/images/kotare.jpg" alt="" class="image--cover" />
      <figcaption class="caption">Kotare</figcaption>
    </a>
  </figure>

  </br>
  </br>
  </br>
  </br>

  <button onclick="window.location.href = '/add'" ;>Add a bird!</button>
</div>