<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to <span style="color: #66ff66">Little Birds</span></h1>
    <h4>Learn about New Zealands beautiful native birds!</h4>
  </div>
</div>
<div class="wrapper">
  <figure class="item">
    <img src="/images/Piwakawaka.jpg" class="image--cover">
    <figcaption class="caption">Piwakawaka</figcaption>
  </figure>

  <figure class="item">
    <img src="/images/Tui.JPG" alt="" class="image--cover" />
    <figcaption class="caption">Tui</figcaption>
  </figure>

  <figure class="item">
    <img src="/images/kotare.jpg" alt="" class="image--cover" />
    <figcaption class="caption">Kotare</figcaption>
  </figure>
</div>